# Data_wrangling

In [1]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings('ignore')

#Reading the datasets
personality_data = pd.read_csv('personality_scores.csv', sep=';')
department_data = pd.read_csv('departments.csv', sep=';')

In [2]:
personality_data

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1551,1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1552,1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1553,1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1554,1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Examining the dataframe by ID and droppping duplicates

In [3]:
#checking the duplicates
personality_new= personality_data.drop_duplicates(subset = 'ID')

### Assert statement to check that the new data frame is the length of the unique entries of the original data frame.

In [4]:
# Asserting new personality data frame with the original dataframe
personality_new['ID'].unique().sum() == personality_data['ID'].sum()

True

### Droppping columns with all null values

In [5]:
personality_new=personality_new.dropna(axis = 1)
personality_new.head(3)

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I often forget to put things back in their proper place],Section 5 of 6 [I pay attention to details.],Section 5 of 6 [I seldom feel blue (down).],Section 5 of 6 [I spend time reflecting on things.],Section 5 of 6 [I start conversations.],Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.]
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

### Renaming columns by replacing the columns name by texts inside the '[]' of each column

In [6]:
personality_new.rename(columns=lambda x: x.replace('Section 5 of 6 [', ''), inplace=True)
personality_new.rename(columns=lambda x: x.replace('.]',''), inplace=True)
personality_new.rename(columns=lambda x: x.replace(']',''), inplace=True)

personality_new.head(3)

,ID,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,...,I often forget to put things back in their proper place,I pay attention to details,I seldom feel blue (down),I spend time reflecting on things,I start conversations,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

## Creating new columns containing the total score of each of the personality test subscales.

In [7]:
def score(row, number, dataframe):
    '''Returns a count with
    row = 'row interations
    number = 'Personality it belongs to'
    dataframe = "new dataframe"
    '''
    count = 0
    for column in dataframe.columns:
        breakdown = row[column]
        if type(breakdown) == str:
            tup_break = breakdown[1]
            result = int(breakdown[4])
            if tup_break == number:
                count += result
    return count

#Adding columns to the dataframe and applying the score function
personality_new['Extraversion'] = personality_new.apply(lambda row : score(row,'1', personality_new), axis = "columns")
personality_new['Agreeableness'] = personality_new.apply(lambda row : score(row,'2', personality_new), axis = "columns")
personality_new['Conscientiousness'] = personality_new.apply(lambda row : score(row,'3', personality_new), axis = "columns")
personality_new['Emotional stability'] = personality_new.apply(lambda row : score(row,'4', personality_new), axis = "columns")
personality_new['Intellect'] = personality_new.apply(lambda row : score(row,'5', personality_new), axis = "columns")

display(personality_new)

,ID,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,...,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things,Extraversion,Agreeableness,Conscientiousness,Emotional stability,Intellect
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 3)","(1, 1)","(5, 1)","(4, 5)",32,48,38,44,44
1551,1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 3)",40,48,40,44,34
1552,1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,44,40,46,48
1553,1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 3)","(2, 3)","(1, 1)","(5, 1)","(4, 3)",36,38,48,36,44
1554,1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)",...,"(2, 5)","(2, 3)","(1, 1)","(5, 1)","(4, 3)",22,44,42,40,30

## 1. Importing the data in departments.csv. MERGING the derpartment with the personality score data frame, keeping all applicants within the department data frame. Using an assert statement to check that the newly created merged data frame has the same amount of rows as the department data frame, and the expected number of columns.

### department dataframe

In [8]:
department_data.head()

   ID Department
0   0       Data
1   1       Data
2   2       Data
3   3       Data
4   4       Data

### Merging the personality_new with department_data

In [9]:
merged_data = pd.merge(department_data, personality_new, how='left')
merged_data

,ID,Department,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,...,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things,Extraversion,Agreeableness,Conscientiousness,Emotional stability,Intellect
0,0,Data,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42
1,1,Data,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42
2,2,Data,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42
3,3,Data,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38
4,4,Data,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)",...,"(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,1550,Web dev,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)",...,"(2, 5)","(2, 3)","(1, 1)","(5, 1)","(4, 5)",32,48,38,44,44
1551,1551,Web dev,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 3)",40,48,40,44,34
1552,1552,Web dev,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,44,40,46,48
1553,1553,Web dev,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)",...,"(2, 3)","(2, 3)","(1, 1)","(5, 1)","(4, 3)",36,38,48,36,44
1554,1554,Web dev,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)",...,"(2, 5)","(2, 3)","(1, 1)","(5, 1)","(4, 3)",22,44,42,40,30

### Assertation: cheking if merged dataframe and personality_new have equal number of rows

In [10]:
#Assertation/ checking whether the two df's have the same amount of rows & columns 
try:
    assert len(personality_new) == len(merged_data), "The two data frames do not have the same amount of rows & columns" 
    print('True')
except AssertionError as msg:
    print(msg)

True

# 2. FILTERING the merged data frame so that only the applicants who scored less than 30 on emotional stability, conscientiousness AND agreeableness remain. Printing the ID numbers and departments of these applicants to the screen, and also assigning these applicants the tag “high_risk” in a new column. All other applicants get the tag “low_risk”

#### Filtering the merged data

In [11]:
filtered_high = merged_data[(merged_data.Conscientiousness < 30) & (merged_data.Agreeableness < 30) & (merged_data['Emotional stability'] < 30)]
filtered_high

,ID,Department,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,...,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things,Extraversion,Agreeableness,Conscientiousness,Emotional stability,Intellect
881,881,Data,"(3, 3)","(4, 1)","(3, 1)","(5, 5)","(2, 1)","(5, 3)","(2, 5)","(2, 3)",...,"(2, 5)","(2, 3)","(1, 5)","(5, 1)","(4, 1)",30,28,26,28,36
1197,1197,Copywriting,"(3, 5)","(4, 5)","(3, 1)","(5, 1)","(2, 1)","(5, 3)","(2, 5)","(2, 1)",...,"(2, 5)","(2, 1)","(1, 3)","(5, 5)","(4, 1)",40,22,26,26,28

#### Printing the ID and Department of high risk

In [12]:
print(filtered_high[['ID', 'Department']])

        ID   Department
881    881         Data
1197  1197  Copywriting

#### Creating a new 'Risk' column and assigning "low_risk" and "high_risk" tags on merged_data

In [13]:
merged_data['Risk']=np.where((merged_data.Conscientiousness < 30) & (merged_data.Agreeableness<30) & (merged_data['Emotional stability'] <30),'high_risk','low_risk')
merged_data.head()

,ID,Department,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,...,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things,Extraversion,Agreeableness,Conscientiousness,Emotional stability,Intellect,Risk
0,0,Data,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42,low_risk
1,1,Data,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)",...,"(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42,low_risk
2,2,Data,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42,low_risk
3,3,Data,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)",...,"(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38,low_risk
4,4,Data,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36,low_risk

In [14]:
grouped= merged_data.groupby('Risk')['Department'].value_counts()
grouped

Risk       Department
high_risk  Copywriting      1
           Data             1
low_risk   Strategy       449
           Data           328
           Copywriting    325
           Web Dev        170
           Web dev        161
           Design         120
Name: Department, dtype: int64

In [15]:
# replacing 'Web dev' with 'Web Dev'
merged_data["Department"].replace(["Web dev"], "Web Dev", inplace=True)

In [16]:
grouped = merged_data.groupby('Risk')['Department'].value_counts().unstack().fillna(0).astype(int)
grouped

Department  Copywriting  Data  Design  Strategy  Web Dev
Risk
high_risk             1     1       0         0        0
low_risk            325   328     120       449      331

In [17]:
# #filling NaN with 0
# grouped.fillna(0, inplace = True)
# grouped

In [18]:
# resting index
department_data = pd.DataFrame(grouped.reset_index())
department_data

Department       Risk  Copywriting  Data  Design  Strategy  Web Dev
0           high_risk            1     1       0         0        0
1            low_risk          325   328     120       449      331